@import "~react-pro-sidebar/dist/scss/styles.scss";
$color-secondary: #f4f9ff;
$color-primary: #ebf1f8;
$color-hover: #017bc4;

body {
  margin: 0;
  font-family: "Adobe Clean", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: $color-primary;

  .container .row .col {
    // border: 1px solid red;
    width: 100%;
    height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-img {
      width: 220px;
      height: 80px;
      margin-left: 30px;
    }

    .user-setting {
      width: auto;
      height: 80px;
      // border: 1px solid red;
      // margin-right: 130px;
      display: flex;
      display: flex;
      justify-content: center;
      align-items: center;

      .user-avatar {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
      }

      .user-dropdown {
        margin: 0 10px 0 10px;

        .dropdown {
          display: flex;

          & button {
            box-shadow: none;

            // outline: none;
            .profile-name {
              font-weight: 500;
              padding-right: 5px;
            }
          }
        }

        .designation {
          color: grey;
          font-size: 14px;
        }
      }

      .user-settingbtn {
        margin-bottom: 15px;
        margin-left: 10px;
      }
    }
  }
}
.homepage {
  .container {
    .row .col-2 {
      // margin-left: 80px;
    }
  }
  .card {
    // height: 300px;
    .card-header {
      border-bottom: none;
      background: none;
    }
  }
  & img {
    // width: 240px;
    // margin: 5px;
  }
  .card {
    padding: 10px;
    border: 1.5px solid rgb(188, 188, 188);
    border-radius: 10px;
    // margin-left: 30px;
    margin-top: 10px;
    & h1 {
      margin-top: 40px;
    }
    & h5 {
      color: $color-hover;
      font-size: 18px;
      padding-top: 20px;
    }
    .card-subtitle {
      font-size: 40px;
    }
    .btn {
      color: $color-hover;
      background-color: $color-primary;
      box-shadow: none;
      border: 1.9px solid $color-hover;
      border-radius: 10px;
    }
    .btn:active {
      box-shadow: none;
    }
  }
}

.container-fluid {
  border: 1px solid rgb(184, 198, 227);
  width: 100%;
  // height: 70vh;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  @extend .header;
}

.pro-sidebar {
  .pro-sidebar-inner {
    background: $color-primary !important;
  }
  .pro-item-content {
    font-size: 14px;
    font-weight: 500;
  }
}

.pro-sidebar
  .pro-menu.shaped
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper {
  background: $color-primary !important;
}

.pro-sidebar {
  color: rgb(87, 87, 87) !important;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background: transparent !important;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  border-radius: 10px !important;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
  padding: 3px 3px 3px 28px !important;
}

.open {
  background: $color-secondary !important;
  border-radius: 10px !important;
  .pro-icon {
    background-color: $color-secondary !important;
  }
}

.pro-icon {
  font-size: 14px !important;
}

.pro-inner-item {
  padding: 6px 2px 8px 0px !important;
  .pro-icon-wrapper {
    margin: 0 8px 0 8px !important;
  }
}

.pro-inner-item .pro-item-content {
  padding: 2px 2px 2px 0px !important;
}

.pro-sidebar .pro-menu .pro-menu-item {
  width: 90%;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover,
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:focus {
  color: $color-hover !important;
}

.pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  > .pro-inner-item
  > .pro-arrow-wrapper
  .pro-arrow {
  border-color: rgb(87, 87, 87) !important;
}
